<section class="text-center margin-top">
  <%= image_tag "skeleton.png" %>
  <h1>Skeleton Project Rails</h1>
  <p>Base for your first project</p>
  <p>Create with <span class="glyphicon glyphicon-heart"></span> by <a href="http://www.luizpicolo.com.br">Luiz Picolo</a></p>
</section>
